body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
input[type=submit] {
    background-color: blue;
    border: none;
    padding: 16px 32px;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}